parameters:
  rules:
    '@PSR2': false
    blank_line_before_statement:
      statements:
        - break
        - case
        - continue
        - declare
        - default
        - die
        - do
        - exit
        - for
        - foreach
        - goto
        - if
        - include
        - include_once
        - require
        - require_once
        - return
        - switch
        - throw
        - try
        - while
        - yield
    braces:
      allow_single_line_closure: true
      position_after_functions_and_oop_constructs: same
    class_attributes_separation: false
    compact_nullable_typehint: true
    Drupal/blank_line_before_end_of_class: true
    Drupal/control_structure_braces_else: true
    Drupal/inline_comment_spacer: true
    # WIP
    #Drupal/line_length:
    #  line_length: 80
    #  inline_short_lines: false
    #  break_long_lines: true
    # WIP
    # Drupal/new_line_on_multiline_array: true
    Drupal/try_catch_block: true
    Drupal/uppercase_constants: true
    encoding: true
    full_opening_tag: true
    function_declaration:
      closure_function_spacing: one
    # Disable this rules - it conflicts with 'braces'
    # indentation_type: true
    indentation_type: false
    line_ending: true
    lowercase_keywords: true
    method_separation: false
    no_alternative_syntax: false
    no_blank_lines_after_class_opening: false
    no_blank_lines_after_phpdoc : false
    no_extra_blank_lines:
      tokens:
        - break
        - case
        - continue
        - default
        - extra
        - parenthesis_brace_block
        - return
        - square_brace_block
        - switch
        - throw
        - use
        - use_trait
    no_mixed_echo_print:
      use: print
    no_spaces_after_function_name: true
    no_spaces_inside_parenthesis: true
    phpdoc_add_missing_param_annotation: false
    single_line_comment_style: true
    single_quote:
      strings_containing_single_quote_chars: false
    switch_case_semicolon_to_colon: true
    switch_case_space: true
    visibility_required: true
    yoda_style:
      equal: false
      identical: false
      less_and_greater: false
      always_move_variable: false
