parameters:
    rules:
        '@PSR2': false
        blank_line_before_statement:
            statements:
                - break
                - case
                - continue
                - declare
                - default
                - do
                - exit
                - for
                - foreach
                - goto
                - if
                - include
                - include_once
                - require
                - require_once
                - return
                - switch
                - throw
                - try
                - while
                - yield
        braces_position:
            allow_single_line_anonymous_functions: true
            allow_single_line_empty_anonymous_classes: true
            classes_opening_brace: same_line
            control_structures_opening_brace: same_line
            functions_opening_brace: same_line
        compact_nullable_type_declaration: true
        comment_to_phpdoc: false
        constant_case:
            case: upper
        control_structure_continuation_position:
            position: next_line
        declare_equal_normalize:
            space: single
        Drupal/blank_line_after_start_of_class: true
        Drupal/blank_line_before_end_of_class: true
        Drupal/inline_comment_spacer: true
        encoding: true
        full_opening_tag: true
        function_declaration:
            closure_function_spacing: one
        general_phpdoc_annotation_remove:
            annotations:
                - package
                - subpackage
                - author
                - version
        global_namespace_import:
            # Disabled because of conflicts with drupal/coder.
            # Error: Data types in @param tags need to be fully namespaced (Drupal.Commenting.DataTypeNamespace.DataTypeNamespace)
            import_classes: false
            import_constants: false
            import_functions: false
        # Disable this rules - it conflicts with 'braces'
        # indentation_type: true
        indentation_type: false
        line_ending: true
        lowercase_keywords: true
        class_attributes_separation: true
        no_alternative_syntax: false
        no_blank_lines_after_class_opening: false
        no_blank_lines_after_phpdoc : false
        no_extra_blank_lines:
            tokens:
                - break
                - case
                - continue
                - curly_brace_block
                - default
                - extra
                - parenthesis_brace_block
                - return
                - square_brace_block
                - switch
                - throw
                - use
        no_mixed_echo_print:
            use: print
        no_spaces_after_function_name: true
        no_superfluous_phpdoc_tags:
            allow_mixed: true
            allow_unused_params: true
            remove_inheritdoc: false
        phpdoc_add_missing_param_annotation: false
        single_line_comment_style: true
        single_quote:
            strings_containing_single_quote_chars: false
        single_space_around_construct: true
        spaces_inside_parentheses:
            space: none
        switch_case_semicolon_to_colon: true
        switch_case_space: true
        visibility_required: true
        yoda_style:
            equal: false
            identical: false
            less_and_greater: false
            always_move_variable: false
        trailing_comma_in_multiline:
            elements:
                - arrays
