imports:
  - { resource: vendor/drupol/php-conventions/config/php73/grumphp.yml }

parameters:
    tasks.phpcsfixer.config: .php-cs-fixer.dist.php

    tasks.phpcs.whitelist_patterns:
        - src/
    tasks.phpcs.ignore_patterns:
        - tests/
        - spec/

    extra_tasks:
        codeception: ~
        phpspec:
            verbose: true
        infection:
            threads: 10
            test_framework: phpspec
            configuration: infection.json.dist
            min_msi: 0
            min_covered_msi: 0

