name: Tests
on:
  push:
  schedule:
    - cron: "0 0 * * THU"

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.0', '8.1', '8.2']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v2
      - uses: actions/checkout@v3
      - uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php-versions }}
          version: 2
      - run: XDEBUG_MODE=coverage ./vendor/bin/phpunit
