name: Tests
on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * THU"

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.0', '8.1', '8.2']
        phpcsfixer-version: ['3.35.*', '3.*', '*']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v2
      - uses: actions/checkout@v3

      - name: Download PHP-CS-Fixer ${{ matrix.phpcsfixer-version }}
        run: composer require friendsofphp/php-cs-fixer:${{ matrix.phpcsfixer-version }} --prefer-source --no-update

      - uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php-versions }}
          version: 2

      - name: Run test suite on PHP ${{ matrix.php-versions }} and PHP-CS-Fixer ${{ matrix.phpcsfixer-version }}
        run: XDEBUG_MODE=coverage ./vendor/bin/phpunit
